/*
 * Class defining style for common elements across the entire body of the website
 *
 * Color scheme used to set background color, font color, family and size across the website
 *
 */
body {
	background-color: #D3D347;
	color: #8F8F0D;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 15px;
}
/*
 * Defining the header styles
 *
 * Alignment to the center and font weight(boldness) set using numerical value
 */
h1, h2 {
	font-weight: 600;
	text-align: center;
}

#filmingLocationsMap {
	width: 95%;
	height: 600px;
}
/*
 * Class defining style for navigation bar
 *
 * The navigation bar is displayed as defined by the color scheme and
 * with solid border of light color to see the contrast
 * there is css3 element called box-shadow using the same border color
 * margin is to keep the nav element separated from the rest of the elements
 * width is the percentage of width of the page
 * line-height is for set the height of the entire navigation box
 */
nav {
	background-color: #FFFFA3;
	border: 1px solid #dedede;
	border-radius: 8px;
	box-shadow: 1px 1px 2px #dedede;
	color: #8F8F0D;
	display: block;
	line-height: 48px;
	margin: 8px 22px 8px 22px;
	width: 95%;
}

/*
 * The class defines the parameters for the list within the navigation bar
 *
 */
nav ul {
	margin: 0;
	padding: 0;
}

/*
 * The class defines the parameters for individual items of the list
 * inline-block keeps it in one horizontal line without the use of float
 * list-style none is used to not have to deal with bullet points/numbers etc.
 */
nav ul li {
	display: inline-block;
	list-style-type: none;
}

/*
 *  This class defines the hover color for the navigation items
 *
 */
nav > ul > li:hover {
	background-color: #2A2A00;
}

/*
 * This class defines the properties for the text inside the navigation items
 *
 * text decoration is to get rid of the underline for hyperlinks
 */
nav > ul > li > a {
	color: #B5B526;
	padding: 0 24px;
	text-decoration: none;
}

/*
 * Class defining style for photoSlider
 *
 */
.photoSlider {

}

/*
 * Class defining style for the text clips/description
 */
.description {
	width: 95%;
}

footer{
	display: block;
	width:95%;
	height:80px;
	bottom:0;
	left:0;
	position: absolute;
}
